.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 100px;
    max-height: 600px;
    padding: 20px;
    margin: 10px;
}

.product__info {
    height: auto;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.product img {
    max-height: 200px;
    width: auto;
    object-fit: contain;
    margin: 15px 0;
}
.product__price{
    margin-top: 5px;
    font-size: 14px;
}

.product button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.product__rating{
    display: flex;
    justify-content: center;
}